{% extends "base.html" %}

{% block title %}
Membership Registration
{% endblock %}

{% block content %}

<div class="form-container">

    <h1>
        Membership Registration
    </h1>

    <p>
        Fill in the form below to request a library membership.
    </p>


    <form
        method="POST"
        action="{{ url_for('register') }}"
    >

        <label>
            Full Name
        </label>

        <input
            type="text"
            name="full_name"
            required
        >


        <label>
            Phone
        </label>

        <input
            type="text"
            name="phone"
            required
        >


        <label>
            Address
        </label>

        <input
            type="text"
            name="address"
            required
        >


        <label>
            Username
        </label>

        <input
            type="text"
            name="username"
            required
        >


        <label>
            Email
        </label>

        <input
            type="email"
            name="email"
            required
        >


        <label>
            Password
        </label>

        <input
            type="password"
            name="password"
            minlength="6"
            required
        >


        <button type="submit">
            Submit Registration Request
        </button>

    </form>

</div>

{% endblock %}